@import "tailwindcss";

body {
  background-color: #1a1a2e;;
}

.parent {
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px;
  margin-right: 80px;
  margin-left: 80px;
  border-radius: 12px;
}

.conteudo {
  background-color: #1a1a2e;
  width: 450px;
  height: 350px;
  margin: 5px;
  border-style: groove;
  border-radius: 12px;
  padding: 50px;
  box-shadow:
    8px 8px 15px rgba(0, 0, 0, 0.4),
    -8px -8px 15px rgba(45, 45, 60, 0.7);
}

.conteudo2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a2e;
  color: white;
  width: 150px;
  height: 350px;
  margin: 5px;
  border-radius: 12px;
  box-shadow:
    8px 8px 15px rgba(0, 0, 0, 0.4),
    -8px -8px 15px rgba(45, 45, 60, 0.7);
}

.conteudo3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a2e;
  color: white;
  width: 450px;
  height: 350px;
  margin: 5px;
  border-radius: 12px;
  box-shadow:
    8px 8px 15px rgba(0, 0, 0, 0.4),
    -8px -8px 15px rgba(45, 45, 60, 0.7);
}