@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para o input datetime-local no modo escuro */
input[type="datetime-local"] {
    color-scheme: dark;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}