.header {
  width: 100%;
  height: 60px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72, 16, 212);
  padding: 20px;
}

.logo h1 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.itens-header {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  flex-direction: row;
}

.area-login {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  flex-direction: row;
}